.box {
  border: solid;
  color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

h1
{
        text-align: center;
        align-item: center;
        color: red;
        text-transform: uppercase;
}
