.container
{
        display: flex;
        background-color: DodgerBlue;
        width: 100%;
        height: 500px;
        flex-wrap: wrap;
        justify-content:center;
        align-items: flex-start;
}

.box
{
        background-color:lightgreen ;
        
        width: 40px;
        height: 40px;
        border: solid;
        border-color: palevioletred;
        border-width: 10px;
        border-radius: 20px;

        margin: 10px;
        padding: 20px;

        text-align: center;
        align-content: center;
        
}

.align
{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
}

.align button
{
        &:hover
        {
                background-color: red;
        }
}
