:root
{
  --paper: lightgray;
  --ink: black;
  --container-width: 1200;
  --bg-primary: #E9E9F2;
  --bg-secondary: #FFFFFF;
  --primary: #1A05A2;
  --text-primary: #4B4B4B;
  --text-secondary: #777777;
  --text-muted: #AFAFAF;
  --color-accent: #2A7B9B;
}

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html
{
  display: block;
  font-size: 16px;
}

body
{
  display: block;
  background-color: var(--bg-primary);
  color: var(--ink);
}

h1
{
  font-size: 3.998rem;
  letter-spacing: 0.05em;
}

.card p, html{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.container
{
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 1.5rem;
}

.card
{
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px none;
  border-radius: 10px;
  margin-bottom: 30px;

  padding: 1.5rem;
  transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow .4s ease;
  transform-style: preserve-3d;
  transition: 200ms;
}

.card:hover
{
  transform: translateY(-5px);
  cursor:pointer;
  border-bottom: 5px solid var(--color-accent);
  corner-top-right-shape: scoop;
  border-top-right-radius: 3em;
}

.card h3
{
  color: var(--primary);
  font-size: 2.827rem;
  margin-bottom: .5rem;
}

.card p
{
  color: var(--text-primary);
  line-height: 1.5rem;
  font-size: 1rem;
  text-align: justify;
}

.card-container
{
  display: grid;
  gap: 1.5rem;
  max-width: 800px;
  margin: 30px auto;
  perspective: 1000px;
}


