:root
{
  --paper: lightgray;
  --ink: black;
  --container-width: 1200;
  --bg-primary: #E9E9F2;
  --bg-secondary: #FFFFFF;
  --primary: #1A05A2;
  --text-primary: #4B4B4B;
  --text-secondary: #777777;
  --text-muted: #AFAFAF;
}

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html
{
  display: block;
}

body
{
  display: block;
  background-color: var(--bg-primary);
  color: var(--ink);
}

.container
{
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 1.5rem;
}

.card
{
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px none;
  border-radius: 10px;
  padding: 1.5rem;
  transition: transform .2s ease, box-shadow .2s ease;
}

.card:hover
{
  transform: translateY(-2px);
  cursor:pointer;
}

.card h3
{
  color: var(--primary);
}

.card p
{
  color: var(--text-primary);
  line-height: 1.7;
}

.card-container
{
  display: grid;
  gap: 1.5rem;
  max-width: 800px;
  margin: 30px auto;
}


